@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your global CSS file (e.g., globals.css) */
.hide-scrollbar {
  @apply overflow-scroll; /* Ensures content is scrollable */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
html {
  scroll-behavior: smooth;
}
