@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your global CSS file (e.g., globals.css) */
.hide-scrollbar {
  @apply overflow-scroll; /* Ensures content is scrollable */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  border-radius: 1rem;
  overflow: hidden;
}

.gradient-border {
  position: relative;
  /* padding: 20px 30px; */
  display: inline-block;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px; /* control the border thickness */
  background: linear-gradient(
    147.75deg,
    #2b3391 -46.16%,
    #353b95 -3.75%,
    #514fa0 67.67%,
    #7e6fb2 159.17%,
    #8776b6 177.02%
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.blur-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  pointer-events: none; /* Allows clicks to pass through */
}

.image-box {
  /* position: absolute; */
  right: 0;
  z-index: 20;
}
.black-box {
  overflow: visible; /* Allow child elements to move freely */
}
:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}
